html {
    height: 100%;
    width: 100%;
}


body {
    text-align: center;
}


#parallax1 {
    /* The image used */
    background-image: url(imgs/para/back/382px-The_First_Rival.png);

    /* Set a specific height */
    min-height: 250px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-left: -10px;
    padding-right: -10px;

}

#parallax2 {
    /* The image used */
    background-image: url(imgs/para/back/382px-Friends\'_Getaway.png);

    /* Set a specific height */
    min-height: 250px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-left: -10px;
    padding-right: -10px;
}

#parallax3 {
    /* The image used */
    background-image: url(imgs/para/back/A_Delicious_Picnic.png);

    /* Set a specific height */
    min-height: 250px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-left: -10px;
    padding-right: -10px;
}

#parallax4 {
    /* The image used */
    background-image: url(imgs/para/back/382px-Super_Ultra_Battle.png);

    /* Set a specific height */
    min-height: 250px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-left: -10px;
    padding-right: -10px;
}

#parallax5 {
    /* The image used */
    background-image: url(imgs/para/back/382px-Shadowy_Partners.png);

    /* Set a specific height */
    min-height: 250px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-left: -10px;
    padding-right: -10px;
}

#parallax6 {
    /* The image used */
    background-image: url(imgs/para/back/382px-The_Great_Labyrinth_Battle.png);

    /* Set a specific height */
    min-height: 250px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-left: -10px;
    padding-right: -10px;

}

#parallax7 {
    /* The image used */
    background-image: url(imgs/para/back/382px-Fight_For_The_Crown.png);

    /* Set a specific height */
    min-height: 250px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-left: -10px;
    padding-right: -10px;
}

#parallax8 {
    /* The image used */
    background-image: url(imgs/para/back/382px-Rockabilly_And_Blues.png);

    /* Set a specific height */
    min-height: 250px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-left: -10px;
    padding-right: -10px;
}

#parallax9 {
    /* The image used */
    background-image: url(imgs/para/back/382px-Bad_Boss_Brothers.png);

    /* Set a specific height */
    min-height: 250px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-left: -10px;
    padding-right: -10px;
}

#parallax10 {
    /* The image used */
    background-image: url(imgs/para/back/Twitter_commemorative_-_Kirby_for_Nintendo_Switch_promotional_artwork.png);

    /* Set a specific height */
    min-height: 250px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-left: -10px;
    padding-right: -10px;
}

#parallax11 {
    /* The image used */
    background-image: url(imgs/para/back/382px-A_Dream_Above_The_Clouds.png);

    /* Set a specific height */
    min-height: 250px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-left: -10px;
    padding-right: -10px;

}

#parallax12 {
    /* The image used */
    background-image: url(imgs/para/back/382px-Robobot_Memories.png);

    /* Set a specific height */
    min-height: 250px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-left: -10px;
    padding-right: -10px;
}

#parallax13 {
    /* The image used */
    background-image: url(imgs/para/back/Twitter_commemorative_-_KSA_release.png);

    /* Set a specific height */
    min-height: 250px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-left: -10px;
    padding-right: -10px;
}

#parallax14 {
    /* The image used */
    background-image: url(imgs/para/back/120px-KatFL_Kirby_JP_art_1_alt.png);

    /* Set a specific height */
    min-height: 250px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-left: -10px;
    padding-right: -10px;
}

#parallax15 {
    /* The image used */
    background-image: url(imgs/para/back/Untitled-2.png);

    /* Set a specific height */
    min-height: 250px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-left: -10px;
    padding-right: -10px;
}

#parallax16 {
    /* The image used */
    background-image: url(imgs/para/back/382px-A_Farewell_to_Kirby.png);

    /* Set a specific height */
    min-height: 250px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-left: -10px;
    padding-right: -10px;

}

img[data-bs-toggle="modal"] {
    height: 100px;
    width: 100px;
}